.post-background{
	-fx-background-color: #fff;
	-fx-background-radius: 15;
	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),5.0,0.0,0.0,5.0);
	
}

.reactions-container{
	
	-fx-background-color: #fff;
	-fx-background-radius: 50;
	-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),5.0,0.0,0.0,5.0);	
	-fx-border-width:1;
	-fx-border-color: #B8B9BB;
	-fx-border-radius: 50;
}

.top-border{
	-fx-border-width: 1 0 0 0;
	-fx-border-color: #686266;
}

.round-button{
	-fx-background-color: #F0F2F5;
	-fx-background-radius: 50;
}

.white-background{
	-fx-background-color: #fff;
}

.body-background{
	-fx-background-color: #F0F2F5;
}

.text_field{
	-fx-background-color: #F0F2F5;
	-fx-background-radius: 50;
}

.scroll-pane > .viewport{
	-fx-background-color: transparent;
}

#searchicon_vbox{
	-fx-background-radius: 50%;
	-fx-border-radius: 50%;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 0;
}
#add_utilisateur_vbox{
	-fx-background-radius: 50%;
	-fx-border-radius: 50%;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-border-width: 0;
}
#scrollpane_friends_list{
    -fx-background-color: #f1f2f6 ;
    -fx-background-size: cover; /* Adjust as needed */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#chatVbox{
    -fx-background-image: url("images/whatsapp2.jpeg");
    -fx-background-size: cover; /* Adjust as needed */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
#chat_username_box{
    -fx-background-color: #f1f2f6  ;

}
#emoji{
-fx-background-image: url("images/emoji.jpeg");
    -fx-background-size: cover; /* Adjust as needed */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}



